<div class="table-responsive" ng-controller="deudasCtrl" >

    <table class="table table-striped table-bordered table-hover">
         
        <thead>
            <tr>
                <th>Cliente:</th>
                <th>{{newObtCuota.cliente.nombreCompleto}}</th>
                <th>{{newObtCuota.cliente.email}}</th>
                <th>{{newObtCuota.cliente.telefono}}</th>                              
            </tr>
        </thead>       
    </table>
    <br>
    <br>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Cuotas</th>
                <th>Estado Cuotas</th>
                <th>Valor Cuota</th>
                <th>Cancelar Cuota</th>                
            </tr>
        </thead>
        <tbody>
            <tr class="info" ng-repeat="cuota in newObtCuota.cuotas track by $index">
                <td>1</td>
                <td>{{(estadoCuota(cuota.pagado))}}</td>
                <td>${{cuota.valor}}</td>
                <td class="text-center"><a class='btn btn-info btn-xs' href="#" ng-click="pagarCuota($index)" ng-if="!cuota.pagado"><span class="glyphicon glyphicon-plus-sign"></span> Pagar</a> </td>
            </tr>
            
        </tbody>
    </table>

    <button class="btn btn-success btn-lg"  ng-click="cambioVista('deudas')">Volver</button>
</div>